@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea {
  outline: none;
}

/* body{
  background-image: url('../assets/backgroundglobe.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
} */

*{
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(74 222 128);
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}